<!-- Copyright -->
<div id="copyright">
  <a href="#top" class="bubble-top scrolly">Top</a>

  <div class="container">
    <div class="row">
      <div class="6u 12u(mobile)">
        <span>Copyright &copy; Chair of Informatics. All rights reserved.</span>
      </div>
      <div class="6u 12u(mobile)">
        <ul class="social">
          <li><a href="https://www.facebook.com/ftn.informatika" class="icon fa-facebook"><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/devHubNS" class="icon fa-twitter"><span>Twitter</span></a></li>
          <li><a href="https://github.com/unsftn" class="icon fa-github"><span>GitHub</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
