<!DOCTYPE html>
<html>

{% include head.html %}

<body class="homepage" id="top">
  <div id="page-wrapper">

    {% include header.html %}

      <!-- Main -->
        <div id="main">
          <div class="container">

            <div class="row">

              <!-- Sidebar -->
                <div id="sidebar" class="4u 12u(mobile)">

                  <section>
                    <header>
                      <h2>{{ page.name }}</h2>
                    </header>
                    <ul class="style2">
                      <li class="icon fa-code">{{ page.code }}</li>
                      <li class="icon fa-group">
                        {% for person in page.people %}
                          {{ person }}<br/>
                        {% endfor %}
                      </li>
                      <li class="icon fa-cloud-download"><a href="{{ page.canvas }}">{{ page.canvas }}</a></li>
                      <li class="icon fa-info-circle">{{ page.info }}</li>
                    </ul>
                  </section>
                </div>

              <!-- Content -->
                <div id="content" class="8u 12u(mobile) important(mobile)">
                  <article>
                    <header>
                      <h2>{{ page.title }}</h2>
                    </header>
                    {{ content }}
                  </article>
                </div>

            </div>

          </div>
        </div>

    {% include copyright.html %}

  </div>

  {% include scripts.html %}

</body>

</html>
