<!DOCTYPE html>
<html>

{% include head.html %}

<body class="homepage" id="top">
  <div id="page-wrapper">

    {% include homeheader.html %}

    <!-- Featured -->
    <div id="featured">
      <div class="container">
        <div class="row 200%">
          <section class="4u 12u(mobile)">
            <span class="pennant icon fa-graduation-cap"></span>
            <h3>Courses</h3>
            <p>Bachelor, Master, Doctoral studies at Faculty of Technical Sciences, University of Novi Sad</p>
            <a href="courses/" class="icon fa-arrow-right button">More</a>
          </section>
          <section class="4u 12u(mobile)">
            <span class="pennant icon fa-rocket"></span>
            <h3>Research</h3>
            <p>Research in computer science and software engineering</p>
            <a href="projects/" class="icon fa-arrow-right button">More</a>
          </section>
          <section class="4u 12u(mobile)">
            <span class="pennant icon fa-cogs"></span>
            <h3>Industry</h3>
            <p>Software development projects in cooperation with industry partners</p>
            <a href="projects/" class="icon fa-arrow-right button">More</a>
          </section>
        </div>

      </div>
    </div>

    <!-- Main -->
    <div id="main">
      <div class="container">
        <!-- Portfolio -->
        <div class="row">

          <div class="6u 12u(mobile)">
            <section>
              <header>
                <h2><span class="icon fa-ambulance right"></span> Where is the old web site</h2>
              </header>
              <p>The old web site may be available at <a href="http://old.informatika.ftn.uns.ac.rs">http://old.informatika.ftn.uns.ac.rs</a>. A lot of stuff is still there, waiting to be migrated here. If you're looking for course materials, go to <a href="https://enastava.io">https://enastava.io</a> and sign up if needed.</p>
              <!--<a href="#" class="icon fa-arrow-right button">More</a>-->
            </section>
          </div>

          <div class="6u 12u(mobile)">
            <section>
              <header>
                <h2><span class="icon fa-child"></span> devHub.sh</h2>
              </header>
              <p>devHub.sh is a social hub for IT students, professionals, academics, and enthusiasts.</p>
              <a href="http://devhub.sh" class="icon fa-arrow-right button">More</a>
            </section>
          </div>

        </div>

        <!-- Footer -->
        <div id="footer">
          <div class="row">

            <!-- Content -->
            <div class="4u 12u(mobile)">
              <section>
                <header>
                  <h2>Recent News</h2>
                </header>
                <ul class="style1">
                  <li>
                    <p><a href="#">Praesent porta accums anorci necm ollis sapien elementum nec aesent vit ae elementum ntesque...</a></p>
                    <div class="meta">
                      <span class="icon fa-clock-o date">8-21-2013</span>
                      <a href="#" class="more"><span>Read more</span></a>
                    </div>
                  </li>
                  <li>
                    <p><a href="#">Fusce tincidunt augue ligula, quis adipiscing orci cursus idulla mattis est vel nisi vulputate bibendum...</a></p>
                    <div class="meta">
                      <span class="icon fa-clock-o date">8-18-2013</span>
                      <a href="#" class="more"><span>Read more</span></a>
                    </div>
                  </li>
                  <li>
                    <p><a href="#">Quisque hendrerit nunc a est volutpat, vitae molestie lacus euismod. Nunc pharetra vulputate...</a></p>
                    <div class="meta">
                      <span class="icon fa-clock-o date">8-15-2013</span>
                      <a href="#" class="more"><span>Read more</span></a>
                    </div>
                  </li>
                </ul>
              </section>
            </div>

            <div class="4u 12u(mobile)">
              <section>
                <header>
                  <h2>Upcoming Events</h2>
                </header>
                <a href="#" class="image featured"><img src="images/pic04.jpg" alt=""></a>
                <ul class="style2">
                  <li class="icon fa-arrow-circle-right"><a href="#">Lorem ipsum dolor amet, consectetur adipi</a></li>
                  <li class="icon fa-arrow-circle-right"><a href="#">Fusce pellentesque velit  ultrices place</a></li>
                  <li class="icon fa-arrow-circle-right"><a href="#">Maecenas condimentum enim tincidunt  acc</a></li>
                  <li class="icon fa-arrow-circle-right"><a href="#">Vestibulum non accumsan, ultrices ligula</a></li>
                </ul>
              </section>
            </div>

            <div class="4u 12u(mobile)">
              <section>
                <header>
                  <h2>Recent Publications</h2>
                </header>
                <ul class="icons">
                  <li class="icon fa-wrench">
                    <h3>Vestibulum</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur. Fusce pellentesque velit vestibulum</span>
                  </li>
                  <li class="icon fa-link">
                    <h3>Integer ultrices</h3>
                    <span>Phasellus consectetur justo quis turpis sodale sindsed hendrerit metus mollis</span>
                  </li>
                  <li class="icon fa-magic">
                    <h3>Aliquam luctus</h3>
                    <span>Maecenas condimentum enim tincidunt risus accumsan, pellentesque lobortis</span>
                  </li>
                </ul>
              </section>
            </div>

          </div>
        </div>

      </div>
    </div>

    {% include copyright.html %}

  </div>

  {% include scripts.html %}

</body>

</html>
